<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <main>
     <!-- 2 div con le linee colorate di sfondo -->
        <div class="green-line"></div>
        <div class="grey-line"></div>
     <!-- Section di Boolzapp -->
        <section id="boolzapp" class="app-main container">
            <section class="col-sx">
     <!-- Creo 4 div differenti per le varie parti del layout -->
                <!-- User-profile -->
                <div class="user-profile bg-lightgrey border-grey border-grey-top">
                    <div class="user-img">
                        <img src="IMG/avatar_2.jpg" alt="">
                    </div>
                    <div class="user-icons text-grey">
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- notifications row -->
                <div class="notifications bg-lightblue border-grey">
                    <div class="notification-icon bg-white">
                        <i class="fa fa-bell-slash" aria-hidden="true"></i>
                    </div>
                    <div class="notification-text">
                        <p><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                        <a href="#" class="text-grey"><ins>Attiva notifiche desktop</ins></a>
                    </div>
                </div>
                <!-- search bar -->
                <div class="search-bar bg-lightgrey border-grey">
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                    <i class="fa fa-search text-grey" aria-hidden="true"></i>
                </div>
                <!-- contacts list  -->
                <div class="contacts-block">
                    <div v-for='(contact, index) in usersList' :key='index' @click='selectedContact(contact)'>
                        <div class="contacts border-grey">
                            <img :src="contact.avatar" alt="" class="contact-img">
                            <div class="contact-text">
                               <strong>{{ contact.name }}</strong>
                               <p class="text-grey">Non ci sono nuovi messaggi!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-dx">
                <!-- Sezione nome chat attualemnte aperta -->
                <div class="chat-open bg-lightgrey border-grey border-grey-top">
                    <div class="user-img">
                        <img :src="selectedUser.avatar" alt="">
                        <div class="chat-open-name">
                            <strong>{{selectedUser.name}}</strong>
                            <p class="text-grey">Ultimo Accesso ...</p>
                         </div>
                    </div>
                    <div class="user-icons text-grey">
                        <i class="fa fa-search text-grey" aria-hidden="true"></i>
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- sezione chat -->
                <div class="chat">
                    <div class="msg" :class="{msgsent: msg.status === 'sent' , msgreceived: msg.status === 'received'}" v-for='(msg, index) in selectedUser.messages' :key='index'>
                        <p>{{msg.text}}</p>
                        <p class="msg-date text-grey">{{msgTime(msg.date)}}</p>
                    </div>
                </div>
                <!-- sezione new message -->
                <div class="new-message search-bar bg-lightgrey border-grey border-grey-top">
                    <i class="fa fa-smile-o text-grey" aria-hidden="true"></i>
                    <input type="text" placeholder="Scrivi Un Messaggio">
                    <i class="fa fa-microphone text-grey" aria-hidden="true"></i>
                </div>
            </section>
        </section>
        <script src="moment.js"></script>
        <script src="data.js"></script>
        <script src="app.js"></script>
    </main>
</body>
</html>