ul li{
    list-style: none;
}
ul{
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0;
}
.green-line{
    background-color: #009788;
    height: 15vh;
}
.grey-line{
    background-color: #DADBD5;
    height: 85vh;
}
.app-main{
    height: 90vh;
    width: 90vw;
    position: absolute;
    top: 5vh;
    left: 10vw;
    padding: 0px;
    display: flex;
    border: 1px solid #D3D3D3;
    background-color: white;
}
.col-sx{
    width: 30%;
    height: 100%;
}
.col-dx{
    width: 70%;
    height: 100%;
    background-image: url(IMG/mine.jpg);
    display: flex;
    flex-direction: column;
}
.user-profile, .chat-open{
    height: 60px;
    display: flex;
}
.user-img img{
    height: 60px;
    border-radius: 50%;
    padding: 8px;
}
.user-img{
    display: flex;
    flex-grow: 1;
}
.user-icons{
    display: flex;
    align-items: center;
}
.user-icons i{
    padding: 8px;
}
.notifications{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.notification-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-icon i{
    font-size: 1.5rem;
    color: #9DE1FE;
}
.notification-text{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.notification-text a:hover{
    color: #7F7F7F;
}
.search-bar{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input{
    width: 90%;
    height: 80%;
    border: 0;
    border-radius: 50px;
    font-size: 0.8rem;
    padding-left: 30px;
    display: flex;
}
.search-bar .lens{
    position: absolute;
    font-size: 0.8rem;
    left: 2.5%;
}
.search-bar .erase{
    position: absolute;
    font-size: 0.8rem;
    right: 73%;
}


.contacts-block{
    overflow: auto;
    height: calc(100% - 175px);
}
.contacts{
    height: 80px;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: white;
}
.contacts:hover{
    background-color: #D7D7D7;
}
.contacts.selected {
    background-color: lightgrey;
}
.contact-img{
    height: 80px;
    border-radius: 50%;
    padding: 8px;
}
.chat-open-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new-message{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}
.new-message input{
    padding: 0 15px;
}
.new-message i{
    position: initial;
    font-size: 1.2rem;
    
}
.chat{
    display: flex;     
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
}
.msg{
    display: flex;
    flex-direction: column;
    margin: 8px 10px;
}
.msg-box{
    position: absolute;
    border-radius: 4px;
    padding: 10px 15px;
    z-index: 2;
}
.popup-arrow{
    display: none;
    position: absolute;
    top: 2px;
    right: 4px;
}
.msg-box:hover .popup-arrow{
    display: block;
    font-size: 1rem;
}
.msgsent{
    align-self: flex-end;
    background-color: rgb(133, 202, 173);
}
.msgreceived{
    align-self: flex-start;
    background-color: white;
}
.msg .msg-date{
    font-size: 0.7rem;
}
.boxarrowgreen{
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: #82caad transparent transparent transparent;
    position: relative;
    align-self: flex-end;
    bottom: ;
    width: 10px;
    right: 0px;
    z-index: 1; 
}
.boxarrowwhite{
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent white transparent transparent;
    position: relative;
    align-self: flex-start;
    left: 342px;
    z-index: 1;
}
.last-msg-time{
    width: 200px;
    /* da sistemare */
    display: flex;
    justify-content: space-between;
}
.popup{
    position: absolute;
    width: 180px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.popup ul li{
    padding: 8px 14px;
}
.popup  li:hover{
    background-color: lightgray;
}
.msgsent .popup{
    top: 19px;
    left: 68px;
}
.msgreceived .popup{
    top: 19px;
    left: 90px;
}





/* Utility Classes */
.border-grey{
    border: 1px solid #D3D3D3;
    border-top: 0px;
}
.border-grey-top{
    border-top: 1px solid #D3D3D3;
}
.text-grey{
    color: #7F7F7F;
}
.bg-lightgrey{
    background-color: #EDEDED;
}
.bg-lightblue{
    background-color: #9DE1FE;
}
.bg-white{
    background-color: white;
}
