.green-line{
    background-color: #009788;
    height: 15vh;
}
.grey-line{
    background-color: #DADBD5;
    height: 85vh;
}
.app-main{
    height: 90vh;
    width: 80vw;
    position: absolute;
    top: 5vh;
    left: 10vw;
    padding: 0px;
    display: flex;
    /* to remove */
    background-color: grey;
}
.col-sx{
    width: 30%;
    height: 100%;
    background-color: yellow;
}
.col-dx{
    width: 70%;
    height: 100%;
    background-color: orange;
}
.user-profile{
    height: 60px;
    display: flex;
}
.user-img img{
    height: 60px;
    border-radius: 50%;
    padding: 8px;
}
.user-img{
    display: flex;
    flex-grow: 1;
}
.user-icons{
    display: flex;
    align-items: center;
}
.user-icons i{
    padding: 8px;
}
.notifications{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.notification-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-icon i{
    font-size: 1.5rem;
    color: #9DE1FE;
}
.notification-text{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.notification-text p{
    margin: 0;
}
.notification-text a:hover{
    color: #7F7F7F;
}
.search-bar{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input{
    width: 90%;
    height: 80%;
    border: 0;
    border-radius: 50px;
    font-size: 0.8rem;
    padding-left: 30px;
    display: flex;
}
.search-bar i{
    position: absolute;
    font-size: 0.8rem;
    left: 2.5%;
}
.contacts{
    height: 80px;
    width: 100%;
}






/* Utility Classes */
.border-grey{
    border: 1px solid #D3D3D3;
    border-bottom: 0px;
}
.text-grey{
    color: #7F7F7F;
}
.bg-lightgrey{
    background-color: #EDEDED;
}
.bg-lightblue{
    background-color: #9DE1FE;
}
.bg-white{
    background-color: white;
}
